/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor de la entrada y el botón */
#contenedor-input {
    text-align: center;
    margin-top: 20px;
}
#tareaCSS {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
/* Estilo para la entrada de texto */
#nuevaTarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de agregar tarea */
#agregar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón de agregar tarea al pasar el mouse */
#agregar:hover {
    background-color: #0056b3;
}

/* Estilo para la lista de tareas */
#tareas {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

/* Estilo para cada elemento de la lista de tareas */
#tareas li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el botón de tarea más rápida */
#tiempo {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para el botón de tarea más rápida al pasar el mouse */
#tiempo:hover {
    background-color: #218838;
}

/* Estilo para el texto de tarea más rápida */
#textoTareaRapida {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}